:root {
    --gradient-first-color: rgb(85, 85, 189);
    --gradient-second-color: rgb(217, 115, 255);
}

body {
    background: linear-gradient(60deg, var(--gradient-first-color), var(--gradient-second-color));
    min-height: 100vh;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: Bahnschrift
}

#content td {
    border: black solid 4px;
    padding: 20px;
    display: inline-block;
    margin: 30px;
    border-radius: 6px;
}

#errorDisplay {
    color: #631010;
    font-weight: bolder;
    font-size: 18px;
    padding: 40px;
}